<section id="section_3">
    <div class="block__heading">
      <h2 class="section__heading">Contact Me!</h2>
      <div class="container block__center">
        <div class="contact__wrapper">
          <div class="contact__info">
            <div><img class="logo__img" src="icons/Logo.svg" alt="" /></div>
            <p>Send me an Email here!</p>
          </div>
          <div class="contact__input">
            <form>
              <p>
                <label>Name</label>
                <input type="text" name="name" placeholder="Enter your name..." />
              </p>
              <p>
                <label>Email Address</label>
                <input type="email" name="email" placeholder="Enter your email..."/>
              </p>
              <p class="full">
                <label>Message</label>
                <textarea name="message" rows="7" placeholder="What is your message for me?"></textarea>
              </p>
              <p class="full">
                <button>Send</button>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>