<section id="section_1" class="block__center section__black">
    <div>
      <div>
        <h1 class="block__heading--title section__heading">
          Junior Front End Developer
        </h1>
        <div class="block__contact-icons block__heading--title">
          <a href="https://github.com/Titi923" target="_blank">
            <div class="icon__container">
              <i class="fab fa-github fa-2x"></i>
            </div>
          </a>
          <a href="https://github.com/Titi923" target="_blank">
            <div class="icon__container">
              <i class="fab fa-linkedin fa-2x"></i>
            </div>
          </a>
          <a href="https://github.com/Titi923" target="_blank">
            <div class="icon__container">
              <i class="fas fa-envelope fa-2x"></i>
            </div>
          </a>
        </div>
      </div>
      <div class="text">
        <h2>See my projects</h2>
        <a href="#section_2">
          <div class="btn__scroll-down"></div>
        </a>
      </div>
    </div>
  </section>