<section id="section_2">
    <div class="container">
      <h2 class="block__heading section__heading">My Projects</h2>
      <h3 class="block__heading">Click on the cards to flip them over.</h3>
      <div class="container card__container grid--1x2">
        <div class="the__flipping--card">
          <div class="the__front--card">
            <div class="card__photo--container">
              <img
                class="card__photo"
                src="images/Website_1_photo.png"
                alt=""
              />
            </div>
            <h1 class="card__heading">Modern website design</h1>
            <button class="btn">Go to project!</button>
          </div>
          <div class="the__back--card">
            <div><img src="icons/Logo.svg" alt="" /></div>
            <p>
              Front end website, with modern design, build by me... Search
              Engine Optimizated, Good performance, Optimized Images,
              Accesible, Responsive Screens.
            </p>
            <p>Tools Used:</p>
            <h2>
              <i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i
              ><i class="fab fa-js-square"></i>
            </h2>
          </div>
        </div>
        <div class="the__flipping--card empty_card">
          <div class="the__front--card">
            <div class="card__photo--container"></div>
            <h1>Click me!</h1>
            <button class="btn">Go to project!</button>
          </div>
          <div class="the__back--card">
            <div><img src="icons/Logo.svg" alt="" /></div>
          </div>
        </div>
      </div>
    </div>
  </section>