<!-- Menu area Starts -->
<nav class="navbar navbar-area navbar-border navbar-padding navbar-expand-lg    ">
  <div class="container custom-container-one nav-container">
      <div class="logo-wrapper">
          <a href="index.html" class="logo">
              <img src="assets/img/logo.svg" alt="">
          </a>
      </div>
      <div class="responsive-mobile-menu d-lg-none">
            <a href="javascript:void(0)" class="click-nav-right-icon">
                <i class="flag-icon flag-icon-ro me-1"></i>
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hotel_booking_menu">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse mt-3" id="hotel_booking_menu">
          <ul class="navbar-nav">
              <li><a href="about.html"> Despre noi </a></li>
              <li><a href="listing.html"> Camere </a></li>
              <li><a href="contact.html"> Contacteaza-ne </a></li>
              <li><a href="eat-and-drink.html"> Eat & Drink </a></li>
              <li class="menu-item-has-children current-menu-item">
                <a href="javascript:void(0)">Apartamente</a>
                <ul class="sub-menu">
                    <li><a href="apartament_zorilor_view.html">Apartament Zorilor View</a></li>
                    <li><a href="apartament_zorilor_cactus.html">Apartament Zorilor Cactus</a></li>
                </ul>
            </li>
          </ul>
      </div>
      <div class="navbar-right-content show-nav-content">
        <div class="dropdown">
            <button class="btn btn-lg dropdown-toggle text-black" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><span class="flag-icon flag-icon-ro me-1"></span> <span>Română</span></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <a class="dropdown-item" href="../ro/index.html"><span class="flag-icon flag-icon-gb me-1"></span> <span>Engleza</span></a>
                </li>
                <li>
                    <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-it me-1"></span> <span>Italiana</span></a>
                </li>
            </ul>
        </div>
        <div class="single-right-content">
            <div class="navbar-right-flex">
                <div class="btn-wrapper">
                </div>
            </div>
        </div>
    </div>
  </div>
</nav>
<!-- Menu area end --> 