<!-- Menu area Starts -->
<nav class="navbar navbar-area navbar-border navbar-padding navbar-expand-lg    ">
  <div class="container custom-container-one nav-container">
      <div class="logo-wrapper">
          <a href="index.html" class="logo">
            <img src="../assets/img/svgs/logo.svg" alt="">
          </a>
      </div>
      <div class="responsive-mobile-menu d-lg-none">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hotel_booking_menu">
              <span class="navbar-toggler-icon"></span>
          </button>
      </div>
      <div class="collapse navbar-collapse" id="hotel_booking_menu">
          <ul class="navbar-nav">
              <li><a href="about.html"> Despre noi </a></li>
              <li><a href="listing.html"> Camere </a></li>
              <li><a href="contact.html"> Contactează-ne </a></li>
              <li><a href="eat-and-drink.html"> Eat & Drink </a></li>
          </ul>
      </div>
  </div>
</nav>
<!-- Menu area end -->